.homepage {
  background-image: linear-gradient(
    to bottom,
    rgba(233, 30, 98, 0.2),
    rgba(233, 30, 98, 0)
  );
}

.search-box input {
  padding-right: 120px;
  padding-left: 40px;
}

.search-box fieldset {
  border-width: 2px;
}

.link {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: inline-block;
  outline: none;
}
